body{
    font-family: 'Ubuntu', sans-serif;

}
header{
    width: 100%;
    .container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 32px;
        }
    }
}
#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.car{
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 18px;
        font-weight: bold;
        margin: 20px;
    }
    img{
        height: 200px;
        border-radius: 10px;
    }
}